<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Second Name</key>
		<string>3434</string>
		<key>Phone Number</key>
		<string>436546</string>
		<key>Name</key>
		<string>Greendevale</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Twerk</string>
		<key>Second Name</key>
		<string>gfdfg</string>
		<key>Phone Number</key>
		<string>34343</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Temp</string>
		<key>Second Name</key>
		<string>sdsad</string>
		<key>Phone Number</key>
		<string>324234</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Test</string>
		<key>Second Name</key>
		<string>Me</string>
		<key>Phone Number</key>
		<string>13223232323</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Garry</string>
		<key>Second Name</key>
		<string>Jenkins</string>
		<key>Phone Number</key>
		<string>56546456</string>
	</dict>
	<dict>
		<key>Phone Number</key>
		<string>343243</string>
		<key>Name</key>
		<string>Astark</string>
		<key>Second Name</key>
		<string>Georgeevich</string>
	</dict>
</array>
</plist>
